<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="/css/normalize.css">

	<style>
		body {
			max-width: 66em;
			font-family: 'Trebuchet MS', sans-serif;
			margin: 0 auto;
			font-size: 13pt;
			display: block;

			background-color: rgb(50, 50, 50);
			color: rgb(150, 150, 150);
		}

		#logo {
			flex-shrink: 1;
		}
		#logo img {
			max-width: 33em;
		}
		#title-card {
			flex-shrink: 1;
		}

		.page-top {
			margin-top: 1em;
			display: flex;
			flex-direction: row;

			width: 66em;
		}
	</style>
	<title>Bootleg Repository of Manual Pages</title>
</head>

<body>
	<div class="page-top">
		<div id="logo">
			<img src="img/logo.png" alt="Bootleg Repository of Manual Pages">
		</div>
		<div id="title-card">
			<p><i>{{{phrase}}}</i></p>
		</div>
	</div>
</body>
